<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acta de Entrega</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md bg-white p-6 rounded-lg shadow-lg text-center">
        <h2 class="text-xl font-bold mb-4">Acta de Entrega de Obra</h2>
        <p class="mb-4">A continuación se presentará el acta de entrega de la obra para ser diligenciada. 
            Asegúrese de llenar todos los campos y de tomar la firma de la persona que recibe por parte del cliente.</p>
        <a href="{{ url_for('formulario') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Siguiente</a>

    </div>
</body>
</html>
